/* 用于初始化的CSS，清除默认结构 */

/* 所有标签的内外边距清零 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* em 和 i 斜体的文字不倾斜 */
em,
i {
  font-style: normal;
}

/* 去掉li 的小圆点 */
li {
  list-style: none;
}

img {
  border: 0;
  /* 取消图片底侧有空白缝隙的问题 */
  vertical-align: middle;
}

button {
  /* 当我们鼠标经过button 按钮的时候，鼠标变成小手 */
  cursor: pointer;
}

a {
  color: var(--mantine-color-text, #000);
  text-decoration: none;
}

button,
input {
  /* "\5B8B\4F53" 就是宋体*/
  font-family:
    Microsoft YaHei,
    Heiti SC,
    tahoma,
    arial,
    Hiragino Sans GB,
    '\5B8B\4F53',
    sans-serif;
}

body {
  /* CSS3 抗锯齿形 让文字显示的更加清晰 */
  -webkit-font-smoothing: antialiased;
  background-color: var(--mantine-color-body, #fff);
  font:
    16px/1.5 Microsoft YaHei,
    Heiti SC,
    tahoma,
    arial,
    Hiragino Sans GB,
    '\5B8B\4F53',
    sans-serif;
  color: var(--mantine-color-text, #000);
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

/* 黑暗模式下的默认背景色、字体色 */
[data-mantine-color-scheme='dark'] body {
  background-color: var(--mantine-color-dark-8);
  color: var(--mantine-color-dark-0);
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
